.top-banner {   
    border-radius:0 0 5px 5px;
    position: fixed;
    top: 0;
    z-index: 2;
    max-width: 900px;
}
.bottom-banner {    
    border-radius:5px 5px 0 0;   
    position: fixed;
    bottom: 0;    
    z-index: 2;
    max-width: 900px;
}