#dimLogo { 
    background: url(../../assets/logo.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    position:absolute;
    left:5%;
    top:5%;
    width:90%;
    height:90%;
    filter:alpha(Opacity=15);
    opacity:0.15;
}
.card {
    width: 45%;
    height: 45%;
    padding: 2em;
}
.card-header, .card-bottom {
    font-size: 120%;
    font-weight: 500;
}