<div class="main">
<mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
  <mat-grid-tile>
    <mat-grid-tile-header class="home-tile">We help you to protect your privacy</mat-grid-tile-header>
    <ul>
      <li>Do you store personal information and data on your computer or in the cloud ?</li>
      <li> But is it protected ?</li>
      <li>What if a hacker gains access ?</li>
    </ul>
    <mat-grid-tile-footer class="home-tile">Encryption hides the content of your files.
      <br> Only you can see what is in them.</mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-grid-tile-header class="home-tile">
      Encryption for everyone
    </mat-grid-tile-header>
    <ul>
      <li>Don't wait for Apple or Google or Microsoft to encrypt your files.</li>
      <li>Do it yourself !</li>
    </ul>
    <mat-grid-tile-footer>Encryption uses a key to lock your files:
      <br>make sure only you have the key !
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-grid-tile-header class="home-tile">
      Encryption can be simple and easy to use
    </mat-grid-tile-header>
    <ul>
      <li>Here (on this website) you will find the tools to easily encrypt your files.</li>
      <li>And, of course, our tools allow you to decrypt the same files with your key !</li>
      <li>We offer
        <strong>free</strong> and easy to use encryption and decryption tools.</li>
    </ul>
    <mat-grid-tile-footer>
      Anybody can use it !
      <br> Nothing to install on your computer: conveniently run on our website.
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-grid-tile-header class="home-tile">
      Our tools let you manage your files securely
    </mat-grid-tile-header>
    <ul>
      <li>And for our members we offer a full range of advanced encryption using the latest algorithms and super key strength
        !
      </li>
      <li>Our members have multiple ways to handle and store their files.</li>
      <li> Since "keys" are the "key" to the privacy of your files, we offer multiple ways to create, upload, maintain, and store
        keys.
      </li>
    </ul>
    <mat-grid-tile-footer>
      We help you keep your keys safe !
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
<div id="dimLogo"></div>
</div>